body {
    margin: 0;
}

/* Immagine di sfondo */
.title {
    background-image: url('./img/pattern.png');
    height: 100px;
    width: 100%;
    background-repeat: repeat-x;
    background-color: rgb(146, 146, 245);
    background-size: 400px 200px;

}

/* Immagine del titolo */
.title-image {
    height: 60px;
    position: absolute;
}

/* The booleaner */
#link {
    color: blue;
}

/* Tabel Color */

.tabel-head {
    background-color: rgb(30, 30, 236);
    color: rgb(255, 255, 255);
}

.table-color {
    background-color: rgb(110, 110, 236);
    color: rgb(255, 255, 255);
}