body {
    margin: 0;
    width: 1115px;
}

/* Immagine di sfondo */
.title {
    background-image: url('./img/pattern.png');
    height: 100px;
    width: 100%;
    background-repeat: repeat-x;
    background-color: rgb(78, 160, 255);
    background-size: 400px 200px;

}


/* Immagine del titolo */
.title-image {
    height: 60px;
    position: absolute;
    margin-top: 30px;
}

/* Scritta Booleaner */

#booleaner {
    background-color: white;
    color: blue;
}

/* Container per il margine da sotto al titolo alla fine del codice*/
.container {
    margin: 5px;
}


/* Subtitle (margine subtitle photo) */
#subtitle {
    margin-top: 2px;
}

/* Table Color */

.table-head {
    background-color:rgb(32, 169, 229);
    color: rgb(255, 255, 255);
    text-align: left;
}

.wide-column {
    width: 150px; /* larghezza colonna */
}

.table-color {
    background-color: rgb(177, 229, 242);
}

/* "Scritto da" & "Info"  */

.text-info {
    color: grey;
    font-weight: bold;
}

/* Immagini finali */

.image {
    height: 200px;
    background-repeat: no-repeat;
    padding: 10px;
}

.image-1 {
    background-image: url('./img/monitor.jpg');
}

.image-2 {
    background-image: url('./img/graph.jpg');
}

/*testo lorem tabella*/

.text-lorem {
    font-weight: bolder;
    font-size: 20px;
    color: rgb(253, 254, 255);
    margin: 0;
}

#list {
    padding-left: 20px;
}