body {
    margin: 0;
    width: 1050px;
}

/* Immagine di sfondo */
.title {
    background-image: url('./img/pattern.png');
    height: 100px;
    width: 100%;
    background-repeat: repeat-x;
    background-color: rgb(146, 146, 245);
    background-size: 400px 200px;

}

/* Immagine del titolo */
.title-image {
    height: 60px;
    position: absolute;
    margin-top: 30px;
}

#blue {
    background-color: white;
    color: blue;
}

/* Container*/
.container {
    margin: 4px;
}

/* Subtitle */
#subtitle {
    margin-top: 5px;
}

/* The booleaner */
#link {
    color: blue;
}

/* Table Color */

.table-head {
    background-color: rgb(30, 30, 236);
    color: rgb(255, 255, 255);
}

.table-color {
    background-color: rgb(110, 110, 236);
    color: rgb(255, 255, 255);
}

/* Info */

.text-info {
    color: grey;
    font-weight: bold;
}

/* Immagini finali */

.image {
    height: 200px;
    background-repeat: no-repeat;
    padding: 10px;
}

.image-1 {
    background-image: url('./img/monitor.jpg');
}

.image-2 {
    background-image: url('./img/graph.jpg');
}

.text-lorem {
    font-weight: bolder;
    font-size: 25px;
    color: rgb(253, 254, 255);
    margin: 0;
}

#list {
    padding-inline-start: 20px;
}